* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: #f1f5f8;
  color: #222;
}

.bookList {
  width: 90vw;
  max-width: 1170px;
  margin: 5rem auto;
  display: grid;
  gap: 2rem;
}

@media screen and (min-width: 768px) {
  .bookList {
    grid-template-columns: repeat(3, 1fr);
  }
}

.book {
  position: relative;
  background: #fff;
  border-radius: 1rem;
  padding: 2rem;
  text-align: center;
}

.book img {
  width: 100%;
  object-fit: contain;
}

.book h2 {
  margin-top: 1rem;
  font-size: 1rem;
}

.book h4 {
  margin-top: 0.5rem;
  color: #617d98;
  letter-spacing: 2px;
  font-size: 0.75rem;
}

.number {
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.75rem;
  font-size: 1rem;
  background: red;
  color: #fff;
}

h1 {
  text-align: center;
  margin-top: 2rem;
  font-size: 2rem;
  color: #333;
}